@import url("https://rsms.me/inter/inter.css");
@import url('https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css');

html {
  font-size: 16px;
  font-family: "Computer Modern Serif", "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Computer Modern Serif", "Inter", sans-serif;
  }
}

html,
body {
  display: flex;
  flex-flow: column;
  padding: 0;
  margin: 0;
  background: #121212;
  /* color: #fafafc; */
  color: rgba(218,223,225,1)
  line-height: 1.2;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1em;
}

p,
li {
  -webkit-letter-spacing: -0.024%;
  -moz-letter-spacing: -0.024%;
  -ms-letter-spacing: -0.024%;
  letter-spacing: -0.024%;
}

header {
  display: flex;
  align-items: center;
  background: #121212;
  color: rgba(190,190,190,1);
  border-bottom: 1px #ccc solid;
  padding: 0px 5px;
}

.site-title {
  padding: 0;
  margin: 0;
}

#logo {
  display: inline-block;
  margin: 5px;
}

#logo svg {
  width: 23px;
  height: 23px;
}

.grid-container {
  flex: 1;
  display: flex;
  overflow-x: auto !important;
  white-space: nowrap;
  flex-grow: 1;
}
.grid {
  max-width: 100%;
  flex-grow: 1;
}

.page {
  white-space: normal;
  background: #121212;
  /* color: #CFD8DC; */
  /* color: rgba(218,223,225,1); */
  color: rgba(190,190,190,1);
  padding: 3px 15px;
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.25);
  display: inline-block;
  width: 625px;
  max-width: 90%;
  height: 100% !important;
  max-height: 100%;
  overflow-y: auto;
  vertical-align: top;
  box-sizing: border-box;
}
.page:last-child {
  margin-right: 15px;
}

a {
  text-decoration: none;
  cursor: pointer;
  /* color: rgba(10, 132, 255, 1); */
  /* color: rgb(0, 113, 188, 0.8); */
  color: rgb(38, 166, 91, 0.8);
}

a:hover {
  opacity: 0.5;
}

code {
  white-space: pre;
  background: #eeeeee;
  border: 1px solid #bbb;
  border-radius: 4px;
  display: inline-block;
  max-width: 100%;
  overflow: auto;
}

pre {
  padding: 1px 10px;
}

img {
  max-width: 100%;
}

#svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
}

iframe {
  overflow: hidden;
  overflow-y: hidden;
  border: none;
}

.tippy-box > .tippy-arrow:before {
  transform: scale(2);
}

footer {
  background: #fff;
  align-items: center;
  text-align: center;
  color: #ccc;
  border-top: 1px #ccc solid;
  font-size: 10px;
}

.bl-section {
  padding: 10px;
  margin-bottom: 50px;
  /* background-color: rgba(144, 164, 174, 0.3); */
  background-color: rgba(169, 169, 169, 1);
}

.backlinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.bl-section h4 {
  color: #FAFAFC;
  margin-top: 0;
}

.backlinks a {
  flex: 100%;
  /* color: #0071BC; */
  color: #121212;
  /* color: rgb(0, 113, 188, 0.8); */
}

dt {
  text-decoration: underline;
}


::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}



@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }

  header {
    border-right-width: 0;
    border-bottom-width: 1px;
    padding: 10px 30px;
  }

  #logo {
    margin: 0;
  }

  #logo svg {
    width: 30px;
    height: 30px;
  }

  header > * {
    display: inline-block;
    margin-right: 10px;
  }

  .grid-container {
    padding: 0;
  }

  .page {
    padding-bottom: 150px;
  }
}
